.vscode/**
.vscode-test/**
.vscode-e2e/**
.env
out/**
node_modules/**
src/**
dist/webview-tsc-out/**
tests/**
.github/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
dev-backlog.md
scripts/**
browser-ext/**
**/*.vsix
**/tsconfig.json
**/tsconfig.webview.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*
